body {
	font: "Source Sans Pro",Helvetica,sans-serif;
}
h1 {
	text-align: center;
	font: 72px "Source Sans Pro",Helvetica,sans-serif;
	margin: 5% 0;
}
section {
	text-align: center;
}
section img {
	max-height: 600px;
	max-width: 100%;
}
section div {
	position: inline-block;
}

#Front-footer {
	background-color: #660000;
	text-align: right;
	margin: 0;
	padding: 0;
}
#Front-header {
	background-color: #660000;
	text-align: left;
}
#Front-footer p {
	margin: 10px 0;
	display: inline-block;
	color: white;
}
#Front-footer p a {
	color: #ffccff;
}
#contact-rage {
	width: 48%;
	text-align: left;
}
#copyright-stuff {
	width: 48%;
	text-align: right;
}
#spacer {
	height: 10px;
}
#rage-logo {
	width: 80px; 
	padding: 10px;
	height: 80px;
}
/*Remove margins, add background color*/
.navbar {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #660000;
}

/* List items side by side */
.navbar li {
	float: left;
	width: 30%;
}

.navbar li a {
    display: inline-block;
    color: #ffccff;
    text-align: center;
    padding: 40px 20px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 28px;
    font-style: bold;
    height: 40px;
}

/* Change background color of links on hover */
.navbar li a:hover {
	background-color: #555;
}

ul.navbar li:last-child a {
  border-right: none;
}

ul.navbar li:hover ul {
  display: block;
  background: #fff;
}

/* keeps the tab background white */
ul.navbar li:hover a {
  background: #fff;
  color: #660000;
  text-shadow: none;
}

ul.navbar li:hover > a{
  color: #660000;
} 

ul.navbar li.icon {
	display: none;
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the navbar (li.icon) */
@media screen and (max-width:680px) {
  ul.navbar li:not(:first-child) {display: none;}
  ul.navbar li.icon {
    float: right;
    display: inline-block;
  }
  .hideme {
  	display: none;
  }
}

/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens */
@media screen and (max-width:680px) {
  ul.navbar.responsive {position: relative;}
  ul.navbar.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.navbar.responsive li {
    float: none;
    display: inline;
  }
  ul.navbar.responsive li a {
    display: block;
    text-align: left;
  }
}

ul.navbar li:last-child a {
  border-right: none;
}