---
layout: Stephdefault

title: Steph Rage # Title of your site
email: stephlage621@gmail.com # Your contant email
phone_number: 1.619.916.8085

description:
  Steph Rage, crochet artist.

avatar_url: "/images/Steph/Steph_avatar.png"

---

	<!-- Two -->
	<section id="two">
		<h1>Hats</h1>
		<div class="row">
			{% assign offset = 0 %}
			{% for thing in site.Steph offset: offset %}
			{% if thing.categories contains "Hats" %}
				<article class="{% cycle '6u', '6u$' %} 12u(xsmall) work-item">
				<a href="{{ thing.featured_image_url }}" class="image fit thumb">
					<img src="{{ thing.thumbnail_image_url }}" alt="{{ thing.excerpt | remove: '<p>' | remove: '</p>' }}" />
				</a>
					<h3><a href="{{ thing.url }}">{{ thing.title }}</a></h3>
					{{ thing.excerpt }}
				</article>
			{% endif %}
			{% endfor %}
		</div>
		<ul class="actions">
			<li><a href="/steph" class="button special">Featured</a></li>
			<li><a href="/steph/action" class="button special">In action</a></li>
			<li><a href="/" class="button special">Rage Home</a></li>
		</ul>
	</section><!-- #two -->

	
<!-- Three -->
	<section>
		<header>
			<h2>Pricing</h2>
			<p>General pricing for hats</p>
		</header>
		<p>Some of these hats are currently for sale, just ask! Any hat I've already made will sell for $25. If you want a custom hat, I'm happy to do that too. I usually charge $30 - $35 for a hat, depending how much yarn and time it will use. I love using lots of different colors and materials, so feel free to be as specific as you want about what you want your hat to look like. I also don't mind being the creative element, so if you have no idea, just ask me to make you a hat!</p>
	</section><!-- Three -->

<!-- Four -->
	<section id="three">
		{% include get-in-touch.html %}
	</section><!-- Four -->

			