---
layout: Stephdefault

title: Steph Rage 
email: stephlage621@gmail.com 
phone_number: 1.805.991.7243

description:
  Steph Rage, crochet artist.

front_page: "front_page.md"
avatar_url: "/images/Steph/Steph_avatar.png"

---

<!-- One -->
	<section id="one">
		{% capture front_page %}{% include_relative {{ page.front_page }} %}{% endcapture %}
		{{ front_page | split: "---" | last | markdownify }}
	</section><!-- #one  -->

	<!-- Two -->
	<section id="two">
		<h2>Featured Work</h2>
		<div class="row">
			{% assign offset = 0 %}
			{% for thing in site.Steph offset: offset %}
			{% if thing.categories contains "Featured" %}
				<article class="{% cycle '6u', '6u$' %} 12u(xsmall) work-item">
				<a href="{{ thing.featured_image_url }}" class="image fit thumb">
					<img src="{{ thing.thumbnail_image_url }}" alt="{{ thing.excerpt | remove: '<p>' | remove: '</p>' }}" />
				</a>
					<h3><a href="{{ thing.url }}">{{ thing.title }}</a></h3>
					{{ thing.excerpt }}
				</article>
			{% endif %}
			{% endfor %}
		</div>
		<ul class="actions">
			<li><a href="/steph/hats" class="button special">Hats</a></li>
			<li><a href="/steph/action" class="button special">In action</a></li>
			<li><a href="/" class="button special">Rage Home</a></li>
		</ul>
	</section><!-- #two -->

	
<!-- Three -->
	<section>
		<header>
			<h2>Pricing</h2>
			<p>Prices will vary a lot depending on what you're interested in.</p>
		</header>
		<p>Both the amount/type of yarn used in a project and the amount of time it takes me to make will factor into how much I charge. Hats usually run $30 - $35, scarves can be between $30 and $55, coozies are $15. Bigger projects like blankets will be more expensive and vary more as well. If you have any questions, please ask!</p>
	</section><!-- Three -->

<!-- Four -->
	<section id="three">
		{% include get-in-touch.html %}
	</section><!-- Four -->

			