---
layout: Stephdefault

title: Steph Rage # Title of your site
email: stephlage621@gmail.com # Your contant email
phone_number: 1.619.916.8085

description:
  Steph Rage, crochet artist.

avatar_url: "/images/Steph/Steph_avatar.png"

---


	<!-- Two -->
	<section id="two">
		<h1>Rage crochet in action</h1>
		<p>I'd love to showcase a picture of you wearing/using some of my crochet! Send me any great pictures you've got if you don't mind them being displayed here.</p>
		<div class="row">
			{% assign offset = 0 %}
			{% for thing in site.Steph offset: offset %}
			{% if thing.categories contains "In action" %}
				<article class="{% cycle '6u', '6u$' %} 12u(xsmall) work-item">
				<a href="{{ thing.featured_image_url }}" class="image fit thumb">
					<img src="{{ thing.thumbnail_image_url }}" alt="{{ thing.excerpt | remove: '<p>' | remove: '</p>' }}" />
				</a>
					<h3><a href="{{ thing.url }}">{{ thing.title }}</a></h3>
					{{ thing.excerpt }}
				</article>
			{% endif %}
			{% endfor %}
		</div>
		<ul class="actions">
			<li><a href="/steph/hats" class="button special">Hats</a></li>
			<li><a href="/steph" class="button special">Featured</a></li>
			<li><a href="/" class="button special">Rage Home</a></li>
		</ul>
	</section><!-- #two -->

<!-- Four -->
	<section id="three">
		{% include get-in-touch.html %}
	</section><!-- Four -->

			